<h2>User Questions About Trails</h2>
<ol>
<% @questions.each do |question| %>
  <li>
    <p>On: <%= question.created_at %>, from: <%= question.user.username %><br>
      <%= link_to question.title, question_path(question) %>
    </p>
  </li>
<% end %>
</ol>
