<h1> All Trails </h1>
<hr>
<% @regions.each do |region| %>
  <h2><%= region.name %></h2>
  <ul>
    <% region.trails.each do |trail| %>
      <li><%= link_to trail.name, trail_path(trail) %></li>
    <% end %>
  </ul>
  <hr>
<% end %>
