<h1> All Trails </h1>
<% @trails.each do |trail| %>
  <h3><%= trail.name %></h3>
  <h4><%= trail.nearest_city %></h4>
  <p><em><%= trail.directions %></em></p>
  <p><%= trail.description %></p>
<% end %>
