<div class="api-trails">
</div>



<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    loadTrails();
  })
  const loadTrails = () => {
    fetch("https://trailapi-trailapi.p.mashape.com/?q[activities_activity_type_name_eq]=hiking&q[state_cont]=michigan", {
      headers: {
        "x-mashape-key": "i9OSRCWlV4mshNxfxgvz9eUC4cDip1THWrhjsnnq6agjkp2VDK",
        "accept": "text/plain"
      }
    })
    .then(res => res.json())
    .then(json => {
      $('.api-trails').html(json)
    })
  }

  function Trail(trail) {
    this.name = trail.name
  }
</script>
