<h1>About</h1>

<p>Michigan Trailblazer is created with the intention of one day being able to
  provide a full set of data on all hiking trails in Michigan.  The intent is to
  encourage everyone to get outside and experience our beautiful state, no matter
  where they choose to go.</p>

<p>This application was built with Ruby on Rails and Javascript/jQuery.
  If you are interested in collaborating on creating a fully developed Michigan
  hiking trail application with me, please reach out - no matter your level of
  programming experience. I am open to new technologies. </p>

<a href="https://github.com/ackerm44"> - Amanda Ackerman </a>
