body {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  padding: 20px;
}

nav {
  padding: 25px;
  background-color: #619B4D;
  font-size: 135%;
  letter-spacing: 3px;

}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

header {
  background: url('header.jpg');
  padding: 35px;
  font-size: 130%;
  line-height: 15px;
  color: white;
}

#welcome {
  text-align: right;
  font-family: 'Kaushan Script', cursive;
  color: #619B4D;

}

.welcome-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  text-align: center;
}

.welcome-grid h2 {
  font-size: 200%;
}

.welcome-grid #user-tips {
  grid-column-start: 2;
  grid-row-start: 2
}

a {
  text-decoration: none;
  color: #619B4D;
}

a:hover {
  text-decoration: underline;
}

#new-list {
  background-color: #CECECE;
  padding: 10px;
  color: #619B4D;
}

#new-list:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

li {
  list-style: none;
}

.trail-index-list {
  column-count: 2;
  column-gap: 40px;
}

footer p {
  text-align: center;
}

#trail-info h2 {
  font-size: 50px;
  color: #619B4D;
  margin-bottom: -5px;
}

#trail-info a {
  font-size: 30px;
}

#trail-info b {
  font-size: 24px;
}

#tips h2, #questions h2  {
  color: #619B4D;
}

.answers {
margin-left: 40px;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #619B4D;
  color: white;
  font-size: 110%;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
