body {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  padding: 25px;
}

nav {
  padding: 25px;
  background-color: #619B4D;
  font-size: 135%;
  letter-spacing: 3px;

}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

header {
  background: url('header.jpg');
  padding: 35px;
  font-size: 130%;
  line-height: 15px;
  color: white;
}

#welcome {
  text-align: right;
  font-family: 'Kaushan Script', cursive;
  padding-bottom: 20px;
  color: #2A5A6A;

}

.welcome-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.welcome-grid h2 {
  font-size: 200%;
}

a {
  text-decoration: none;
  color: #619B4D;
}

a:hover {
  text-decoration: underline;
}

#new-list {
  background-color: #CECECE;
  padding: 10px;
  color: #619B4D;
}

#new-list:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

li {
  list-style: none;
}

.trail-index-list {
  column-count: 2;
  column-gap: 40px;
}

footer {
  text-align: center;
}
